################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
legacy/
/legacy/
/packages

/VCManualCreator
/FriishProduce_v2.0

/docs/site
.vscode/settings.json
/FriishProduce/bin/Debug/latest.zip
/FriishProduce/bin/Debug/update
/FriishProduce/bin/Debug/Downloads
/FriishProduce/Resources/banners/jp_flash_app_out
*.lnk