################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
legacy/
/legacy/
/packages

/VCManualCreator
/FriishProduce_v2.0

/docs/site
.vscode/settings.json
/FriishProduce/obj
/FriishProduce/FriishProduce/obj
/FriishProduce/packages
/FriishProduce/FriishProduce/packages
/FriishProduce/bin/Debug
/FriishProduce/bin/Release
/FriishProduce/Resources/banners/jp_flash_app_out
*.lnk